.subFooter {
  display: flex;
  padding: 8%;
  justify-content: space-between;
}

.logoContainer {
  > p {
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
  }
}

.footerList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  > p:hover {
    color: #c1a358;
    cursor: pointer;
  }
}

@media screen and (width<=1000px) {
  .subFooter {
    padding: 8% 2%;
  }
  .footerList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width<=620px) {
  .subFooter {
    flex-direction: column;
    padding: 5%;
    gap: 30px;
  }
}

@media screen and (width<=350px) {
  .footerList {
    grid-template-columns: 1fr;
  }
}
