@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --zgc-green: #1f6a50;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

.contactUs{
  background-color: black;
  display: flex;
  border-top: 2px solid #ac8d3f;
}

.footerSection{
  background-color: #1f6a50;
}

@media screen and (width<=1100px) {
  .contactUs{
    flex-direction: column;
  }
}